img {
    transition: top 0.6s;
}

#button_top {
    width: 10%;
}

#back_circle {
    position: absolute;
    right: 0;
    height: 100%;
}

#back_style {
    display: inline;
    position: absolute;
    width: 95%;
    height: 25%;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%) rotate(0deg);
    text-transform: uppercase;
    font-size:12px;
    font-weight: 700;
    color: white;
    z-index: 7;
    opacity: 100%;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    -webkit-transition:opacity 0.8s, transform 0.6s;
    transition:opacity 0.8s, transform 0.6s;
}

#back_style span {
    position: absolute;
    width: 50%;
    display: inline-block;
    left: 0%;
    font-size: 0.7rem;
    text-align: right;
}

.music_li {
    position: relative;
    transition: all 1s;
    width: 100%;
    left:50%;
    transform: translate(-50%,0%);
    margin-top: 200px;
}

.music_li:first-child {
    margin-top: 144px;
}

.music_li:last-child {
    margin-bottom: 124px;
}

.music_li:hover .music_when {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
}

.music_photo_img:hover +.music_text {
    opacity: 100%;
}

.music_photo_img {
    transition: all 0.5s;
    width: 40%;
    filter: blur(0px);
    position: relative;
    left:50%;
    transform: translate(-50%, 0%);
}

.music_text {
    pointer-events: none;
    transition: opacity 0.3s, left 0.1s;
    opacity: 0%;
    position: absolute;
    width: 50%;
    top: 50%;
    left:50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
}

.music_title {
    color:#ffca18;
}

.music_year {
    color: white;  
}

#background_image{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100%;
    transition: top .7s;
    filter: blur(10px);
    z-index: 1;
}

#background_bg{
    width: 100%;
    height: 75%;
    position: fixed;
    top: 100%;
    transition: top .7s .3s;
    z-index: 2;
    background-color: rgb(41, 41, 41);
}

.one_music_content{
    height: 75%;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgb(41, 41, 41);
    transition: all 0.5s;
}

.one_music_content_image {
    width: 25%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-40%);
}

.one_music_player{
    width: 45%;
    position: absolute;
    left: 50%;
    top:60%;
    transform: translate(-50%,0);
    transition: all 0.5s;
}

.one_music_player_text {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    margin-bottom: 1%;
    transition: all 0.5s;
}

#one_music_player_controller {
    cursor: pointer;
}

#one_music_player_bar{
    width: 100%;
    height: 2px;
    background-color: #a5a5a5;
    position: relative;
}

#one_music_player_bar_fill{
    width: 0%;
    height: 2px;
    background-color: white;
    position: relative;
}

#one_music_player_bar_dot {
    top: 1px;
    left: 0%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    position: absolute;
 
}

#one_music_player_bar_dot:hover {
    height: 11px;
    width: 11px;
}

#one_music_controller{
    width:15%;
    transition: all 0.5s;
}

#one_music_time{
    width:15%;
    transition: all 0.5s;
}

@media only screen and (max-width: 1200px) {
    #button_top {
        width:12%;
    }
    .music_text {
        width: 60%;
        font-size: 80px;
        line-height: 80px;
    }
    .music_li {
        margin-top: 160px;
    }
    .music_photo_img {
        width: 45%;       
    }
    .one_music_content_image {
        width: 35%;
        transform: translate(-50%,-25%);
    }
    .transition_music_image {
        width: 35%;
        transform: translate(-50%, -25%);
    }
    .transition_music_image {
        width: 25%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .one_music_player{
        width: 55%;
        left: 50%;
        top:65%;
        transform: translate(-50%,0);
    }
    .one_music_player_text {
        font-size: 0.8rem;
        margin-bottom: 1%;
    }
    #one_music_controller{
        width:16%;
    }
    #one_music_time{
        width:15%;
    }
    
}

@media only screen and (max-width: 992px) {
    #button_top {
        width:15%;
    }
    .music_text {
        opacity: 100%;
        width: 70%;
        font-size: 80px;
        line-height: 80px;
    }
    .music_li {
        margin-top: 120px;
    }
    .music_photo_img {
        width: 55%;       
    }
    .one_music_content_image {
        width: 50%;
        transform: translate(-50%,-25%);
    }
    .transition_music_image {
        width: 50%;
        transform: translate(-50%, -25%);
    }
    .one_music_player{
        width: 55%;
        left: 50%;
        top:70%;
        transform: translate(-50%,0);
    }
    .one_music_player_text {
        font-size: 0.7rem;
        margin-bottom: 1%;
    }
    #one_music_controller{
        width:16%;
    }
    #one_music_time{
        width:18%;
    }
}

@media only screen and (max-width: 768px) {
    #button_top {
        width:22%;
    }
    .music_text {
        opacity: 100%;
        width: 78%;
        font-size: 80px;
        line-height: 80px;
    }
    .music_li {
        margin-top: 100px;
    }
    .music_photo_img {
        width: 68%;       
    }
    .one_music_content_image {
        width: 60%;
        transform: translate(-50%,-15%);
    }
    .transition_music_image {
        width: 60%;
        transform: translate(-50%, -15%);
    }
    .one_music_player{
        width: 65%;
        left: 50%;
        top:75%;
        transform: translate(-50%,0);
    }
    .one_music_player_text {
        font-size: 0.7rem;
        margin-bottom: 1%;
    }
    #one_music_controller{
        width:16%;
    }
    #one_music_time{
        width:18%;
    }
}

@media only screen and (max-width: 576px) {
    #button_top {
        width:33%;
    }
    .music_text {
        opacity: 100%;
        width: 85%;
        font-size: 60px;
        line-height: 60px;
    }
    .music_li {
        margin-top: 80px;
    }
    .music_photo_img {
        width: 75%;       
    }
    .one_music_content_image {
        width: 65%;
        transform: translate(-50%,-10%);
    }
    .transition_music_image {
        width: 65%;
        transform: translate(-50%, -10%);
    }
    .one_music_player{
        width: 75%;
        left: 50%;
        top:70%;
        transform: translate(-50%,0);
    }
    .one_music_player_text {
        font-size: 0.7rem;
        margin-bottom: 1%;
    }
    #one_music_controller{
        width:20%;
    }
    #one_music_time{
        width:23%;
    }
}

@media only screen and (max-width: 400px) {
    #button_top {
        width:40%;
    }
    .music_text {
        opacity: 100%;
        width: 90%;
        font-size: 2.8rem;
        line-height: 3rem;
    }
    .music_li {
        margin-top: 70px;
    }
    .music_photo_img {
        width: 80%;       
    }
    .one_music_content_image {
        width: 65%;
        transform: translate(-50%,-10%);
    }
    .transition_music_image {
        width: 65%;
        transform: translate(-50%, -10%);
    }
    .one_music_player{
        width: 75%;
        left: 50%;
        top:70%;
        transform: translate(-50%,0);
    }
    .one_music_player_text {
        font-size: 0.7rem;
        margin-bottom: 1%;
    }
    #one_music_controller{
        width:16%;
    }
    #one_music_time{
        width:29%;
    }
}

