html {
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none !important;
  color: white !important;
  transition: color 0.3s ease;
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 600;
}

a:hover {
  text-decoration: none !important;
  color: #FFCA18 !important;
}

a:focus {
  text-decoration: none !important;
  color: #FFCA18 !important;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */

